<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem; margin-top: 1rem;">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0214/7974/products/Nike_Air_Max_1_Grape_OG_QS_Sneaker_POlitics_1-3.jpg?v=1520004151"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="price">
                    $50
                </div>
                <a href="#" class="btn btn-primary pull-right">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem; margin-top: 1rem;">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0214/7974/products/Nike_Air_Max_1_Grape_OG_QS_Sneaker_POlitics_1-3.jpg?v=1520004151"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="price">
                    $50
                </div>
                <a href="#" class="btn btn-primary pull-right">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem; margin-top: 1rem;">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0214/7974/products/Nike_Air_Max_1_Grape_OG_QS_Sneaker_POlitics_1-3.jpg?v=1520004151"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="price">
                    $50
                </div>
                <a href="#" class="btn btn-primary pull-right">Purchase</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem; margin-top: 1rem;">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0214/7974/products/Nike_Air_Max_1_Grape_OG_QS_Sneaker_POlitics_1-3.jpg?v=1520004151"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="price">
                    $50
                </div>
                <a href="#" class="btn btn-primary pull-right">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem; margin-top: 1rem;">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0214/7974/products/Nike_Air_Max_1_Grape_OG_QS_Sneaker_POlitics_1-3.jpg?v=1520004151"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="price">
                    $50
                </div>
                <a href="#" class="btn btn-primary pull-right">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem; margin-top: 1rem;">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0214/7974/products/Nike_Air_Max_1_Grape_OG_QS_Sneaker_POlitics_1-3.jpg?v=1520004151"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="price">
                    $50
                </div>
                <a href="#" class="btn btn-primary pull-right">Purchase</a>
            </div>
        </div>
    </div>
</div>